<html>
   <body>
      <form action="/login" method="post" accept-charset="utf-8">
          
          Name: <input type="text" name="name"/><br>
          Password: <input type="password" name="password"/><br>
          OTP Key: <input type="text" name="otp"/><br>
          OTP Type: <select name="otptype" id="otptype">
              <option value="hotp">Email Code</option>
              <option value="totp">Authenticator Code</option>
          </select>
          <input type="submit" value="Sign in">
      </form>
   </body>
</html>
